.socials {
	margin: 2px;
}
.socials li {
	display: inline;
	margin-right: 10px;
}

.socials li a {
	display: inline-block;
	text-indent: -9999px;
	width: 16px;
	height: 16px;
}

.socials li a[href*="fb.me"] {
	background-image: url("../img/icons/facebook-s.png");
	background-repeat: no-repeat;
	transition: 0.2s;
}
.socials li a[href*="fb.me"]:hover {
	background-image: url("../img/icons/facebook-m.png");
	background-repeat: no-repeat;
	transition: 0.2s;
}

.socials li a[href*="instagram.com"] {
	background-image: url("../img/icons/instagram-s.png");
	background-repeat: no-repeat;
	transition: 0.2s;
}
.socials li a[href*="instagram.com"]:hover {
	background-image: url("../img/icons/instagram-m.png");
	background-repeat: no-repeat;
	transition: 0.2s;
}
.socials li a[href*="youtube.com"] {
	background-image: url("../img/icons/youtube-s.png");
	background-repeat: no-repeat;
	transition: 0.2s;
}
.socials li a[href*="youtube.com"]:hover {
	background-image: url("../img/icons/youtube-m.png");
	background-repeat: no-repeat;
	transition: 0.2s;
}
.socials li a[href*="linkedin.com"] {
	background-image: url("../img/icons/linkedin-s.png");
	background-repeat: no-repeat;
	transition: 0.2s;
}
.socials li a[href*="linkedin.com"]:hover {
	background-image: url("../img/icons/linkedin-m.png");
	background-repeat: no-repeat;
	transition: 0.2s;
}
.socials li a[href*="twitter.com"] {
	background-image: url("../img/icons/twitter-s.png");
	background-repeat: no-repeat;
	transition: 0.2s;
}
.socials li a[href*="twitter.com"]:hover {
	background-image: url("../img/icons/twitter-m.png");
	background-repeat: no-repeat;
	transition: 0.2s;
}
.socials li a[href*="whats.link"] {
	background-image: url("../img/icons/whatsapp-s.png");
	background-repeat: no-repeat;
	transition: 0.2s;
}
.socials li a[href*="whats.link"]:hover {
	background-image: url("../img/icons/whatsapp-m.png");
	background-repeat: no-repeat;
	transition: 0.2s;
}