<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="description" content="Página para entrar em contato com a Tali Brasil"/>
  <meta name="keywords" content="Tali Brasil, Contato, Formulário, Engenharia, Construção"/>
  <meta name="copyright" content="© 2019 Tali Brasil"/>
  <meta name="robots" content="index, follow"/>

  <title>Tali Brasil - Contato</title>

  <link href="img/favicon.ico" rel="icon" type="image/x-icon"/>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
  <link href="css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/global.css" type="text/css" rel="stylesheet"/>
</head>
<body>

  {{header}}

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header row center teal-text text-lighten-2">CONTATOS</h1>


        <!-- <div class="row center">
          <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
        </div> -->
        <br><br>
    </div>
    <div class="parallax"><img src="img/contato.jpg" alt="contato tali"></div>
  </div>
	</div>


  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 m12 l6">
          <h5>Envie sua mensagem</h5>
          <p>
            Entre em contato com a equipe Tali Brasil através do nosso telefone (XX) XXXX-XXXX, ou do nosso e-mail XXXXXX@XXX.XX ou preenchendo o formulário de contato.
          </p>
        </div>

        <div class="col s12 m12 l6">
          <form id="formContato" action="/contato" method="POST">
            <h5>Formulário de contato</h5>
            <div class="row">
              <div class="input-field col s12 m6 l6">
                <i class="material-icons prefix">account_circle</i>
                <input type="text" name="nome" id="iNome" class="validate" required/>
                <label for="iNome">Nome</label>
                <span class="helper-text" data-error="Preencha o nome" data-success="OK"></span>
              </div>

              <div class="input-field col s12 m6 l6">
                <i class="material-icons prefix">phone</i>
                <input type="tel" name="tel" id="iTel" class="validate" required/>
                <label for="iTel">Telefone</label>
                <span class="helper-text" data-error="Preencha um telefone válido" data-success="OK"></span>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12 m12 l12">
                <i class="material-icons prefix">email</i>
                <input type="email" name="email" id="iEmail" class="validate" required/>
                <label for="iEmail">Email</label>
                <span class="helper-text" data-error="Preencha um email válido" data-success="OK"></span>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12 m12 l12">
                <i class="material-icons prefix">subject</i>
                <input type="text" name="assunto" id="iAssunto" class="validate" required/>
                <label for="iAssunto">Assunto</label>
                <span class="helper-text" data-error="Preencha o assunto" data-success="OK"></span>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12 m12 l12">
                <textarea name="mensagem" id="iMensagem" class="materialize-textarea" required></textarea>
                <label for="iMensagem">Mensagem</label>
                <span class="helper-text" data-error="Preencha a mensagem" data-success="OK"></span>

              </div>
            </div>

            <div class="row">
              <div class="col s6 m6 l6">
                <button class="btn waves-effect waves-light" type="submit">Enviar
                  <i class="material-icons right">send</i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>

  {{footer}}

  <!--  Scripts-->
  <script src="/js/jquery-2.1.1.min.js"></script>
  <script src="/js/materialize.min.js"></script>
  <script src="/js/jquery.mask.js"></script>
  <script src="/js/init.js"></script>
  <script src="/js/contato.js"></script>

  </body>
</html>
