<!-- teste -->

<footer class="page-footer teal">

  <div class="footer-copyright">
  <div class="container">
  <div class="row">
    <div class="col s4">
    <ul class="socials">
      <li><a href="https://fb.me/talibrasilengenharia" target="_blank">Facebook</a></li>
      <li><a href="https://instagram.com/talibrasilengenharia" target="_blank">Instagram</a></li>
      <li><a href="https://youtube.com/talibrasilengenharia" target="_blank">YouTube</a></li>
      <li><a href="https://linkedin.com/in/talibrasilengenharia" target="_blank">Linkedin</a></li>
      <li><a href="https://twitter.com/talibrasilengenharia" target="_blank">Twitter</a></li>
      <li><a href="https://whats.link/11234567890" target="_blank">WhatsApp</a></li>
    </ul>
  </div>
    <div class="col s8 right-align grey-text text-darken-3">

    Copyright&copy; - Tali Brasil Engenharia & Construcao Eireli - 2019
    </div></div>


  </div>
  </div>
</footer>
