<footer class="page-footer grey lighten-3">
      
  <div class="footer-copyright">
  <div class="container">
  <div class="row">
    <div class="col s4">
    <ul class="socials">
      <li><a href="fb.me/talibrasilengenharia">Facebook</a></li>
      <li><a href="instagram.com/talibrasilengenharia">Instagram</a></li>
      <li><a href="youtube.com/talibrasilengenharia">YouTube</a></li>
      <li><a href="linkedin.com/in/talibrasilengenharia">Linkedin</a></li>
      <li><a href="twitter.com/talibrasilengenharia">Twitter</a></li>
      <li><a href="whats.link/11234567890">WhatsApp</a></li>
    </ul>
  </div>
    <div class="col s8 right-align grey-text text-darken-3">
    
    Copyright&copy; - Tali Brasil Engenharia & Construcao Eireli - 2019
    </div></div>
  
    
  </div>
  </div>
</footer>
