<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="description" content="A Tali Brasil, empresa de engenharia e construção atuando em todo território nacional"/>
  <meta name="keywords" content="Tali Brasil, Engenharia, Construção"/>
  <meta name="copyright" content="© 2019 Tali Brasil"/>
  <meta name="robots" content="index, follow"/>
  
  <title>Tali Brasil - Negócio</title>

  <link href="img/favicon.ico" rel="icon" type="image/x-icon"/>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
<body>
  
  {{header}}

	<!-- inicio parallax do topo -->
	
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center yellow-text text-darken-2">NEGÓCIOS</h1>
        <div class="row center">
          <h5 class="header col s12 grey-text darken">LOREM IPSUM SIT DOLOR </h5>
        </div>
        <br><br>
      </div>
    </div>
    <div class="parallax"><img src="img/background1.jpg" alt="Unsplashed background img 1"></div>
  </div>
	
	<!-- fim parallax do topo -->
	
	<!-- inicio do body-->
	<br/><br/><br/>
  <div class="container">
    <div class="section">
		
		<div class="row">
        	<div class="col s12 m3 l3">
				<img class="responsive-img" src="img/icons/graph-line.svg" width="180" alt="linegraph-icon" >
			</div>
		
			<div class="col s12 m6 l6">
				<p align="center"> <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ultrices euismod erat eget semper. Cras sed enim tincidunt, vestibulum ante ac, consectetur massa.Fusce sapien justo, ullamcorper id leo eu, porta fringilla dui. Suspendisse ac mi ornare est fringilla posuere. Nam commodo eleifend lacus, et aliquet est maximus vel. Pellentesque condimentum lacinia fringilla. Vivamus euismod nunc at felis viverra, eget blandit turpis gravida.</p>
			</div>
				  
			<div class="col s12 m3 l3">
				<img class="responsive-img" src="img/icons/pie-chart.svg" width="180" alt="pie-icon" >
			</div>
		</div>
		
		<div class="row">
        	<div class="col s12 m3 l3">
				<img class="responsive-img" src="img/icons/calendar.svg" width="180" alt="linegraph-icon" >
			</div>
		
			<div class="col s12 m6 l6">
				<p align="center"> <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ultrices euismod erat eget semper. Cras sed enim tincidunt, vestibulum ante ac, consectetur massa.Fusce sapien justo, ullamcorper id leo eu, porta fringilla dui. Suspendisse ac mi ornare est fringilla posuere. Nam commodo eleifend lacus, et aliquet est maximus vel. Pellentesque condimentum lacinia fringilla. Vivamus euismod nunc at felis viverra, eget blandit turpis gravida.</p>
			</div>
				  
			<div class="col s12 m3 l3">
				<img class="responsive-img" src="img/icons/teamwork.svg" width="180" alt="pie-icon" >
			</div>
		</div>
			
		<div class="video-container">
			<iframe align="middle" width="800" height="450" src="https://www.youtube.com/embed/Kvzn8LRTUjA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  		</div>
		
	  </div>
	</div>
<!--  -->

     
  {{footer}}

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/js/materialize.js"></script>
  <script src="/js/init.js"></script>

  </body>
</html>
