<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="description" content="A Tali Brasil, empresa de engenharia e construção atuando em todo território nacional"/>
  <meta name="keywords" content="Tali Brasil, Sustentabilidade, Meio Ambiente, Engenharia, Construção"/>
  <meta name="copyright" content="© 2019 Tali Brasil"/>
	<meta name="robots" content="index, follow"/>
	
  <title>Tali Brasil - Sustentabilidade</title>

  <link href="img/favicon.ico" rel="icon" type="image/x-icon"/>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>

	{{header}}
  
<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <h1 class="header center text-bold grey-text text-lighten-4"> <br/>SUSTENTABILIDADE<br/></h1>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="/img/sustentabilidade.jpg" alt="Unsplashed background img 1"></div>
  </div>



  <div class="container">
    <div class="section">

		
      <!--  desktop   -->
		<div class="hide-on-small-only">
      <div class="row valign-wrapper">
        <div class="col s12 m4 l4" align="center">
				<img src="/img/icons/ecology.svg" width="180" alt="eco-icon" >
			</div>
		<div class="col s12 m8 l8">
			<blockquote><p class="center-align 	">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ultrices euismod erat eget semper. Cras sed enim tincidunt, vestibulum ante ac, consectetur massa. Fusce sapien justo, ullamcorper id leo eu, porta fringilla dui. Suspendisse ac mi ornare est fringilla posuere. Nam commodo eleifend lacus, et aliquet est maximus vel. Pellentesque condimentum lacinia fringilla. Vivamus euismod nunc at felis viverra, eget blandit turpis gravida. Maecenas consectetur ex a urna maximus, ut vulputate sem luctus. Donec mi tellus, vestibulum eget volutpat ut, elementum mollis mi.			
			</p></blockquote>
		  </div>
		</div>
			
      <div class="row valign-wrapper">
        <div class="col s12 m8 l8" align="center">
				<p class="center-align 	">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ultrices euismod erat eget semper. Cras sed enim tincidunt, vestibulum ante ac, consectetur massa. Fusce sapien justo, ullamcorper id leo eu, porta fringilla dui. Suspendisse ac mi ornare est fringilla posuere. Nam commodo eleifend lacus, et aliquet est maximus vel. Pellentesque condimentum lacinia fringilla. Vivamus euismod nunc at felis viverra, eget blandit turpis gravida. Maecenas consectetur ex a urna maximus, ut vulputate sem luctus. Donec mi tellus, vestibulum eget volutpat ut, elementum mollis mi.		
			</div>
		<div class="col s12 m4 l4">
			<blockquote><img src="/img/icons/ecology.svg" width="180" alt="eco-icon" ></blockquote>
		  </div>
		</div>
			</div>
		
		 <!--  mobile   -->
      <div class="row hide-on-med-and-up">
        <div class="col s12 m4 l4" align="center">
				<img src="/img/icons/ecology.svg" width="180" alt="eco-icon" >
			</div>
		<div class="col s12 m8 l8">
			<blockquote><p class="center-align 	">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ultrices euismod erat eget semper. Cras sed enim tincidunt, vestibulum ante ac, consectetur massa. Fusce sapien justo, ullamcorper id leo eu, porta fringilla dui. Suspendisse ac mi ornare est fringilla posuere. Nam commodo eleifend lacus, et aliquet est maximus vel. Pellentesque condimentum lacinia fringilla. Vivamus euismod nunc at felis viverra, eget blandit turpis gravida. Maecenas consectetur ex a urna maximus, ut vulputate sem luctus. Donec mi tellus, vestibulum eget volutpat ut, elementum mollis mi.			
			</p></blockquote>
		  </div>
		</div>
		
		<div class="row hide-on-med-and-up">
        	<div class="col s12 m4 l4" align="center">
				<img src="/img/icons/ecology.svg" width="180" alt="eco-icon" >
			</div>
		<div class="col s12 m8 l8">
			<blockquote><p class="center-align 	">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ultrices euismod erat eget semper. Cras sed enim tincidunt, vestibulum ante ac, consectetur massa. Fusce sapien justo, ullamcorper id leo eu, porta fringilla dui. Suspendisse ac mi ornare est fringilla posuere. Nam commodo eleifend lacus, et aliquet est maximus vel. Pellentesque condimentum lacinia fringilla. Vivamus euismod nunc at felis viverra, eget blandit turpis gravida. Maecenas consectetur ex a urna maximus, ut vulputate sem luctus. Donec mi tellus, vestibulum eget volutpat ut, elementum mollis mi.			
			</p></blockquote>
		  </div>
		</div>
		
		</div>
</div>


	{{footer}}

  <!--  Scripts-->
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://materializecss.com/bin/materialize.js"></script>
  <script src="https://materializecss.com/docs/js/init.js"></script>

  </body>
</html>
