<!DOCTYPE html>
<html lang="pt-br">
    <head>
      <meta charset="UTF-8"/>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
      <!-- <meta http-equiv="refresh" content="15; url=/"/> -->
      <meta name="viewport" content="width=device-width, initial-scale=1"/>
      <meta name="description" content="Erro 404"/>
      <meta name="keywords" content="404, Not Found"/>
      <meta name="copyright" content="© 2019 Tali Brasil"/>
      <meta name="robots" content="noindex, follow"/>

    <title>Tali Brasil - Not Found</title>

    <link href="img/favicon.ico" rel="icon" type="image/x-icon"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link href="css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
    <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
        </div>
        <div class="parallax"><img src="img/404.png" alt="Erro 404"></div>
    </div>

    <div class="container">
        <br><br>
        <h1 class="header center">Ooops! Página não encontrada! :(</h1>
        <div class="row center">
            <a href="/" class="btn-large waves-effect waves-light blue darken-5 z-depth-3">Página principal</a>
        </div>
        <br>
        <div class="row center">
            <p style="font-size: 16pt;">
                A página que você está procurando não existe, foi renomeada, removida ou está temporariamente indisponível.
            </p>
        </div>
    </div>

    <!--  Scripts-->
    <script src="js/jquery-2.1.1.min.js"></script>
    <script src="js/materialize.min.js"></script>
    <script src="js/init.js"></script>
</body>
</html>